/* TODO: magic JS props / non-dark themes? */
:root {

    --theme-page-heading-font-family: Courier, monospace;
    --theme-page-text-font-family:    Courier, monospace;

    --theme-page-bg:   #111;
    --theme-page-text: #ccc;
    --theme-page-text-size: 1.1em;

    --theme-clickable-idle: #777;
    --theme-clickable-base: #ccc;
    --theme-clickable-hover: #fff;

    --theme-spacing-one-unit: 1em;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: var(--theme-page-text-font-family);
}

p, li {
    font-size: var(--theme-page-text-size);
}

body {
    font-family: var(--theme-text-font-family);
    padding: var(--theme-spacing-one-unit);
    background: var(--theme-page-bg);

    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box; padding: 0.5em;
}

body > * {

    text-align: center;
    width: 100%;
    margin-bottom: var(--theme-spacing-one-unit);
}

/* Header HTML */
#header > *,
#header {
    display: inline-block;
    vertical-align: middle;
}
#header > h1 {
    /* Temp color until we work out whatever else we're doing for the theme */
    color: #fff; /* var(--theme-clickable-base); */
    size: 2em;
    /* Get the text to align with the logo */
    transform: translate(0, 0.025em);
}

#header > img {
    height: 2em;
    width: auto;
    display: inline-block;
}

body > #footer {
    /* Centered and small */
    height: 1em;
    font-size: 0.75em;

    /* Try to stick it to the bottom? */
    margin-bottom: 0px;
    margin-top: auto;

}

h1, h2, h3, h3, h5 {
    font-family: var(--theme-page-heading-font-family);
}

p, li, h2, h3, h4, h5 {
    color: var(--theme-page-text);
}

a         { font-weight: bold;                   }
a, a:link { color: var(--theme-clickable-base);  }
a:hover   { color: var(--theme-clickable-hover); }
a:visited { color: var(--theme-clickable-idle);  }


ul, ol  { padding-left: 1em; }
ul > li { list-style-type: disc; }
ol > li { list-style-type: decimal; }

